@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&family=Red+Hat+Display:wght@500;700;900&display=swap');

body {
  background-image:url("images/pattern-background-desktop.svg");
  
}

.body {
  font-family: "Red Hat display";
}

#main {
  /* pura mágica */
  width: 450px;
  font-size: 16px;
  background-color: white;
  position: relative;
  top: 150px;
  margin: auto;
  height: auto;
  border-radius: 7%;
}

#banner {
  border-top-left-radius: 7%;
  border-top-right-radius: 7%;
}

h1 {
  text-align: center;
  color:hsl(223, 47%, 23%);
}

#message {
  font-size: 16px;
  color: rgb(98, 99, 109);
  text-align: center;
}

#plan {
  position: relative;
  height: 100px;
  width: 350px;
  left: 25px;
  margin: 20px 25px;
  background-color: hsl(225, 100%, 98%);
  border-radius: 10px;
  
}

#img {
  position: relative;
  left: 20px;
  top: 25px;
}

#service {
  position: relative;
  left: 100px;
  bottom: 50px;

}

#annual-plan {
  color:hsl(223, 47%, 23%);
  
}

#valor {
 color: hsl(224, 23%, 55%);
}

#change {
position: relative;
left: 250px;
bottom: 110px;
}

#change:hover {
  color: hsl(251, 38%, 55%);
}

button {
  width: 350px;
  height: 50px;
  position: relative;
  color: white;
  background-color: hsl(245, 75%, 52%);
  margin-bottom: 20px;
  left: 50px;
  margin-top: 15px;
  margin-right: 100px;
  border-radius: 10px;
  font-size: 17px;
  font-family: "Red Hat display";
  border: none;
}

button:hover {
  background-color: hsl(251, 38%, 55%);
  border: none;
}

#cancel {
position: relative;
left: 172px;
  
}

#cancel:hover {
  color: hsl(223, 47%, 23%);
}

.attribution {
  font-size: 14px;
  text-align: center;
  color: black;
  margin-top: 250px;
}

.attribution a {
  color: hsl(228, 47%, 61%);
}
